:root {
  --text-font-family: "Roboto", sans-serif;
  --header-font-family: "Raleway", sans-serif;
  --iris-color: #4d5ae5;
  --navy-blue-color: #2e2f42;
  --white-color: #fff;
  --slate-color: #434455;
  --cloud-color: #f4f4fd;
  --cornflower-color: #e7e9fc;
  --ocean-color: #404bbf;
  --shadow-color: rgba(0, 0, 0, 0.15);
}

/* Global styles */

.body {
  font-family: var(--text-font-family);
  color: var(--slate-color);
  background-color: var(--white-color);
}

/* Classes */

.logo-first-link {
  font-family: var(--header-font-family);
  color: var(--iris-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
}

.logo-second-link {
  font-family: var(--header-font-family);
  color: var(--navy-blue-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
}

.logo-second-link-light {
  color: var(--cloud-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.topline-words-header {
  color: var(--navy-blue-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0, 02em;
  text-decoration: none;
  list-style-type: none;
}

.topline-words-header:hover,
.topline-words-header:focus {
  color: var(--iris-color);
}

.address-mail-header {
  color: var(--slate-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  list-style-type: none;
}

.address-mail-header:hover,
.address-mail-header:focus {
  color: var(--iris-color);
}

.address-phone-number {
  color: var(--slate-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  list-style-type: none;
}

.address-phone-number:hover,
.address-phone-number:focus {
  color: var(--iris-color);
}

.hero-section-header {
  color: var(--white-color);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 1.12px;
  text-align: center;
}

.hero-section-button {
  font-family: var(--text-font-family);
  color: var(--white-color);
  background: var(--iris-color);
  box-shadow: var(--shadow-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.hero-section-button:hover,
.hero-section-button:focus {
  color: var(--ocean-color);
}

.section-two-header {
  color: var(--navy-blue-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}

.section-two-pararaf {
  color: var(--slate-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.section-three-header {
  color: var(--navy-blue-color);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.section-four-page {
  background-color: #f4f4fd;
}

.section-four-header {
  color: var(--navy-blue-color);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.section-four-names {
  color: var(--navy-blue-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  text-align: center;
}

.section-four-jobs {
  color: var(--slate-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.fotter-paragraf-section {
  color: var(--cloud-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.footer-section-down {
  background-color: #2e2f42;
}

.filter-buttons-section {
  border-color: var(--cornflower-color);
  color: var(--iris-color);
  background-color: var(--cloud-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.filter-buttons-section:hover,
.filter-buttons-section:focus {
  background-color: var(--ocean-color);
  color: var(--white-color);
}

.image-card-header {
  color: var(--navy-blue-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}

.image-card-paragraf {
  color: var(--slate-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}
